@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Hand:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Michroma&display=swap');

@import "tailwindcss";



:root {
  --dark-slate: #2D423B;
  --cambridge-blue: #7A948B;
  --linen: #EDE3DE;
  --khaki: #C6AA96;
  --old-rose: #BA7878;
}

.font-inter {
  font-family: 'IBM Plex Sans', sans-serif;

}

.orbitron-font {
  font-family: 'Orbitron', sans-serif;
}
.michroma-regular {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
html {
  scroll-behavior: smooth;
}
.shiny {
  position: relative;
  overflow: hidden;
}

.shiny::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(120deg, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.05) 100%);
  transform: skewX(-20deg);
  animation: shine 2s infinite;
}


@keyframes shine {
  0% {
    left: -75%;
  }
  100% {
    left: 125%;
  }
}
.bg-dark-slate {
  background-color: var(--dark-slate);
}

.bg-cambridge-blue {
  background-color: var(--cambridge-blue);
}

.bg-linen {
  background-color: var(--linen);
}

.bg-khaki {
  background-color: var(--khaki);
}

.bg-old-rose {
  background-color: var(--old-rose);
}

.text-dark-slate {
  color: var(--dark-slate);
}

.text-cambridge-blue {
  color: var(--cambridge-blue);
}

.text-linen {
  color: var(--linen);
}

.text-khaki {
  color: var(--khaki);
}

.text-old-rose {
  color: var(--old-rose);
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background: linear-gradient(
    -45deg,
    #ff0606,   /* jet black */
    #e98e25,   /* dark gray */
    #c7323a,   /* burnt orange / deep bronze */
    #250000,   /* charcoal gray */
    #070707    /* rich deep black */
  );
  background-size: 400% 400%;
  animation: gradientMove 6s ease-in-out infinite;
}

/* Synced gear spin */
@keyframes slow-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: slow-spin 3s linear infinite; /* synced with gradientMove */
}

